<div class="container" style="max-width: 300px">
    <div class="d-flex justify-content-center p-2 mb-3">
        <a routerLink="/genero" type="button" class="btn btn-outline-dark btn-block" (click)="changeBgYellow()">RESULTADOS</a>
    </div>
    <div class="d-flex justify-content-center p-2 mb-3">
        <a routerLink="/registrar-genero" type="button" class="btn btn-outline-dark btn-block" (click)="changeBgBlue()">ENCUESTA</a>
    </div>
    <div class="d-flex justify-content-center p-2 mb-3">
        <a routerLink="/info-genero" type="button" class="btn btn-outline-dark btn-block" (click)="verDetalle();changeBgGrey()">ACERCA DE</a>
    </div>
    <!--div class="d-flex justify-content-center p-2 mb-3">
        <p>www.wladimirtoledo.cl</p>
    </div-->
</div>